.iconBox {
  padding: 20px 50px;
  border-radius: 5px !important;
  width: 300px;
  background-color: rgba(#000, 0.8);

  h1 {
    color: #fff;
    margin: 0;
    padding: 10px 0 20px 0;
    //border: 1px solid red;
    min-height: 76px;
  }
  p {
    margin:0;
    padding: 0;
  }
}