.topMargin {
  margin-top: 158px;
}
.container {
  text-align: center;

  .desc {
    padding-top: 50px;
    //width: fit-content;
    margin-left: auto;
    margin-right: auto;

    .liteFont {
      font-weight: 300;
      letter-spacing: 2px;
    }
    h1 {
      font-weight: 400;

    }
    p {
      line-height: 1.5;
      font-size: 40px;
      font-weight: 200;

      .weightFont {
        font-weight: 300;
      }
    }
  }
}