.topMargin {
  margin-top: 9vw;
}
@media (max-width: 700px) {
  .topMargin {
    margin-top: 22vw;
  }
}
.bg1 {
  background:
    linear-gradient(135deg, rgba(45,58,64,.8) 50%, rgba(255,255,255,0) 50%),
    url('../assets/img/img1.jpg');
}
.bg2 {
  background:
    linear-gradient(45deg, rgba(255,255,255,0) 50%, rgba(255,255,255,.8) 50%),
    url('../assets/img/img2.jpg');
}
.bg3 {
  background:
    linear-gradient(135deg, rgba(45,58,64,.8) 50%, rgba(255,255,255,0) 50%),
    url('../assets/img/img3.jpg');
}
.bg4 {
  background:
    linear-gradient(45deg, rgba(255,255,255,0) 50%, rgba(255,255,255,.8) 50%),
    url('../assets/img/img4.jpg');
}